---
import GalleryLayout from "../../layouts/GalleryLayout.astro";
---

<GalleryLayout title="Typical Projects" subtitle="Planning">
  <div class="popup__opener sdgs__list__box common_more__hover">
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">Karuizawa National
      Wild Bird Sanctuary Forest</div> <img
      src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/129ec23f0d92fe80e4271ca9776ea116.png"
      class="popup_sdgs__img"> <div class="popup_sdgs__text">Karuizawa National
      Wild Bird Sanctuary Forest is located at an altitude of 950 – 1,100 m,
      with the area size of around 100 ha.<br /> The founder of the Wild Bird
      Society of Japan, Godo Nakanishi (1895-1984) pointed out to Kasuke
      Hoshino, our founder’s grandfather, that the forest of his inn was one of
      the world’s biggest treasure troves of wild birds. To help promote Godo’s
      work with wild birds, Hoshino organized bird watching expeditions and in
      1974, National Wild Bird Sanctuary Forest, one of only four wild bird
      sanctuaries in Japan, was established.</textarea
    >

    <div class="sdgs__list__box__photo">
      <div
        class="sdgs__list__box__photo__in"
        style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/129ec23f0d92fe80e4271ca9776ea116.png');
            "
      >
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>Karuizawa National Wild Bird Sanctuary Forest</h3>
        <h4>
          <font size="+1">Japan's first National wild bird forest</font>
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>

  <div class="popup__opener sdgs__list__box common_more__hover">
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">Hydroelectric
      Power Generation</div> <img
      src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/0afef8549335cca4c497dd796c837dd2.png"
      class="popup_sdgs__img"> <div class="popup_sdgs__text">Hoshino Onsen has a
      history of providing its own power from the time it first opened by using
      hydroelectric power generation. Currently, there are two hydroelectric
      power stations on site, and over the past four years, the average
      generated power has been about 76 KWh. Also, a retention basin and a
      settling basin have been set up for the first power station that is
      located at the downstream of the river that flows through the center of
      HOSHINOYA Karuizawa. It can be said that the system in place for the
      hydroelectric power generation created the waterfront scenery emblematic
      of HOSHINOYA Karuizawa.</div></div></textarea
    >

    <div class="sdgs__list__box__photo">
      <div
        class="sdgs__list__box__photo__in"
        style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/0afef8549335cca4c497dd796c837dd2.png');
            "
      >
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>Hydroelectric Power Generation</h3>
        <h4>
          <font size="+1"
            >Japan's first water mill into a full-scale hydroelectric power
            generator for private use</font
          >
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>




  <div class="popup__opener sdgs__list__box common_more__hover">
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">Shampoo
      Bottle</div> <img
      src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/9010b0b636175ac3f325085d3a8d4acf.png"
      class="popup_sdgs__img"> <div class="popup_sdgs__text">In 2019, we
      eliminated the use of individually packaged soaps (shampoo, conditioner
      and body soap) at all of our operating properties and switched to the use
      of pump bottles. The use of pump bottles for soaps has led to a reduction
      in the amount of plastic containers discarded, approximately 49t per year
      and soaps discarded approximately 73kl per year compared with the amount
      of soap used in individual packages.</textarea
    >

    <div class="sdgs__list__box__photo">
      <div
        class="sdgs__list__box__photo__in"
        style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/9010b0b636175ac3f325085d3a8d4acf.png');
            "
      >
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>Shampoo Bottle</h3>
        <h4>
          <font size="+1">Disposable plastic to reusable pump bottles</font>
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>
  <div class="popup__opener sdgs__list__box common_more__hover">
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">Ending Toothbrush
      Waste</div> <img
      src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/d0cf1a3d5af37a59dabf60f12cf662d3.png"
      class="popup_sdgs__img"> <div class="popup_sdgs__text">Hoshino Resorts
      began its toothbrush recycling program in the 30 resorts operated by the
      company around Japan. More than a million discarded toothbrushes are
      collected every year, which are then recycled to be used in other plastic
      products. We will expand the scale of our business and play a role in a
      society by coorperating with Showa Brush Inc and JTB Trading, Inc. At the
      moment, Hoshino Resorts is currently the only company operating multiple
      resorts in Japan that recycles toothbrushes. The next step is to look at
      recycling these used toothbrushes into new toothbrushes.</textarea
    >

    <div class="sdgs__list__box__photo">
      <div
        class="sdgs__list__box__photo__in"
        style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/d0cf1a3d5af37a59dabf60f12cf662d3.png');
            "
      >
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>Ending Toothbrush Waste</h3>
        <h4>
          <font size="+1">Disposable plastic to reusable pump bottles</font>
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>


  <div class="popup__opener sdgs__list__box common_more__hover">
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">Going Plastic
      Bottle-Free</div> <img
      src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/86e4ae4d26f8bb1a1b4957a9d753e34f.png"
      class="popup_sdgs__img"> <div class="popup_sdgs__text">Plastic water
      bottles are very useful for easily carrying around drinks, but they also
      produce a lot of waste. Hoshino Resorts will no longer offer bottled
      mineral water, and will instead have water coolers in public spaces.
      Hoshino Resorts will also not only sell original tumblers, reducing the
      need for plastic bottles, but also educate people about the importance of
      doing this.</textarea
    >

    <div class="sdgs__list__box__photo">
      <div
        class="sdgs__list__box__photo__in"
        style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/86e4ae4d26f8bb1a1b4957a9d753e34f.png');
            "
      >
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>Going Plastic Bottle-Free</h3>
        <h4>
          <font size="+1">Reduce disposable plastic waste</font>
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>




  <div
    class="popup__opener sdgs__list__box common_more__hover sdgs__list__box__toload"
  >
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">Zero-Emission
      Environment</div> <img
      src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/08/253481040516cf12865091aab4387ff3.jpg"
      class="popup_sdgs__img"> <div class="popup_sdgs__text">“Zero-emission”
      refers to recycling or reuse of waste instead of simple incineration or
      landfill. All Hoshino Resorts establishments in Karuizawa, including
      HOSHINOYA Karuizawa, are dedicated to creating a zero-emission environment
      which was the first to accomplish in the the hotel and ryokan industry
      from November 2011. The activities of “Zero-committee” are still ongoing,
      and Hoshino Resorts establishments in Karuizawa has achieved and
      maintained zero emissions.<br /> <br /> Waste is processed in accordance
      with the 3Rs: Reduce, Reuse, and Recycle.<br /> 1.Reduce (decrease
      trash)<br /> Hoshino Resorts decided to go against conventional wisdom,
      providing the same food at the same amount during wedding receptions, and
      made customers choose either Japanese or Western cuisine, meat or fish, as
      well as their amount of food served. As a result, guests can order food
      depending on how hungry they are and in addition, there was less food left
      over from likes and dislikes. Not only does that “same day selective
      system” reduce kitchen waste, but it also raises customer satisfaction,
      and it is useful as a competitive edge in the wedding industry.<br /> <br
      /> 2.Reuse (reuse trash)<br /> In an effort to reuse trash, at Karuizawa,
      we have shifted wherever possible to using drink containers that are
      returnable and have our suppliers collect them. Also, if there are any
      unneeded items such as cabinets or shelves, instead of just one department
      making a decision, the whole office checks to see if anything can be
      reused as a rule before regarding it as oversized garbage.<br /> <br />
      3.Recycle (recovering resources)<br /> Kitchen waste is recycled as
      compost at nearby farms. Several times every week, farm workers come to
      collect kitchen scraps, and once a month, 20 staff members gather to
      directly transport it to the farms. In this way, the finished compost is
      used to cultivate vegetables, and then the Karuizawa office buys
      vegetables harvested on the farms. For trash that cannot be recycled, so
      as to make everything recyclable, the trash is separated into total 28
      types before throwing it away. In order to get rid of all the trash
      without any of the staff making a mistake when separating into different
      types, there is a game called “Shigekatsu” (*) at the Karuizawa office,
      with the aim to get all of the questions right within two months.<br />
      *”Shigekatsu” was developed to teach the correct way to get rid of trash
      that is often thrown away on an ordinary business day. There are 100
      questions in total, and the game is to divide everything with the correct
      separation method.</textarea
    >

    <div class="sdgs__list__box__photo">
      <div
        class="sdgs__list__box__photo__in"
        style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/08/253481040516cf12865091aab4387ff3.jpg');
            "
      >
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>Zero-Emission Environment</h3>
        <h4>
          <font size="+1"
            >Waste produced during operations eliminated to zero</font
          >
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>





  <div
    class="popup__opener sdgs__list__box common_more__hover sdgs__list__box__toload"
  >
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">EIMY</div> <img
      src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/76a167afeb25b8822d603731d720e02a.png"
      class="popup_sdgs__img"> <div class="popup_sdgs__text">HOSHINOYA Karuizawa
      is powered by the Energy In My Yard (EIMY) system, developed from a simple
      idea: Using energy without damaging the resort’s rich natural environment.
      This system runs on hydroelectricity -provided by the river flowing
      through the premises—and geothermal energy. Technological improvements
      were made to match the geological characteristics of Karuizawa and we have
      also designed a geothermal utilization system that can withstand large
      fluctuations by closely examining demand for heat sources over the course
      of a year. As a result, HOSHINOYA Karuizawa are 70% self-sufficient in
      energy consumption.</textarea
    >

    <div class="sdgs__list__box__photo">
      <div
        class="sdgs__list__box__photo__in"
        style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/76a167afeb25b8822d603731d720e02a.png');
            "
      >
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>EIMY</h3>
        <h4>
          <font size="+1">Self-sufficient energy production, achieving 70%</font
          >
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>
  <div
    class="popup__opener sdgs__list__box common_more__hover sdgs__list__box__toload"
  >
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">FARM HOSHINO</div>
      <img
      src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/08/306b2a8138d7c3c7e0dc36c77baefa66-2400x1600.jpg"
      class="popup_sdgs__img"> <div class="popup_sdgs__text">Hoshino Resorts
      established “FARM HOSHINO”. The concept of FARM HOSHINO was initiated by
      the idea that the scenic landscape created by farming would heal travelers
      while dairy products made at the farm could enrich their journey.<br />
      The first FARM HOSHINO resides in the vast resort district of Tomamu,
      where about 700 cows once grazed on the hillsides and farming was the
      regular practice of the area before the resort was developed. The mission
      of FARM HOSHINO is to restore the primeval landscape and farming practices
      that once flourished in the area so that visitors can experience the vast
      expanse of fertile land of Hokkaido whilst enjoying fresh dairy foods and
      a relaxing moment at the farm.</textarea
    >

    <div class="sdgs__list__box__photo">
      <div
        class="sdgs__list__box__photo__in"
        style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/08/306b2a8138d7c3c7e0dc36c77baefa66-2400x1600.jpg');
            "
      >
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>FARM HOSHINO</h3>
        <h4>
          <font size="+1"
            >Restore the nature-rich, original landscapes of Hokkaido</font
          >
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>
  <div
    class="popup__opener sdgs__list__box common_more__hover sdgs__list__box__toload"
  >
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">Picchio’s Eco
      Tours</div> <img
      src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/08/7cec3414d86c8e8be4eac150396f286c-2400x1600.jpg"
      class="popup_sdgs__img"> <div class="popup_sdgs__text">Picchio’s goal is
      to organize eco-tourism activities that not only keep visitors satisfied,
      but which also incorporate natural resources in sustainable ways. Their
      main activities are eco-tours, environmental education, and the tracking
      and preservation of Asian black bears and other local wildlife.<br /> <br
      /> Nature Watching at the Wild Bird Sanctuary Forest<br /> In this guided
      tour, guests are introduced to the vibrant world that exists in
      Karuizawa’s forest all year round.<br /> <br /> Flying Squirrel Watching
      Tour<br /> This tour, which takes place at sunset, consists of a lecture,
      followed by a guided tour through the forest. Visitors have a 97.8% chance
      of spotting a flying squirrel in action.</textarea
    >

    <div class="sdgs__list__box__photo">
      <div
        class="sdgs__list__box__photo__in"
        style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/08/7cec3414d86c8e8be4eac150396f286c-2400x1600.jpg');
            "
      >
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>Picchio’s Eco Tours</h3>
        <h4>
          <font size="+1">Nature tours by a group of nature-loving experts</font
          >
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>
  <div
    class="popup__opener sdgs__list__box common_more__hover sdgs__list__box__toload"
  >
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">KAI Signature Room
      and KAI Cultural Discovery</div> <img
      src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/08/2bb6bc867d468ae1287d17783d6d9609-2400x1597.jpg"
      class="popup_sdgs__img"> <div class="popup_sdgs__text">The preservation of
      Asian black bears began as a project contracted to Picchio by the local
      government in 2000. By tracking and monitoring each bear and incorporating
      innovative tactics such as Japan’s first “bear dogs(dogs trained to chase
      away bears)”, Picchio was able to keep the bears safe while also keeping
      humans safe. As a result, the number of cases of bears razing public trash
      receptacles fell from 100 in 1999 to 0 in 2009.<br /> <br /> Bear Dogs are
      dogs that have been specially trained to sense the scent of bears. They
      obey directions from bear specialists and bark loudly to drive away bears
      deep into the forest. Bear Dogs have been bred in Picchio since July 2017,
      and one of the Bear Dogs they raised named “Tama” gave birth to six
      puppies from late at night on March 31st, 2018 to the afternoon of April
      1st, successfully breeding Bear Dogs in Japan for the first time.</textarea
    >

    <div class="sdgs__list__box__photo">
      <div
        class="sdgs__list__box__photo__in"
        style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/08/2bb6bc867d468ae1287d17783d6d9609-2400x1597.jpg');
            "
      >
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>KAI Signature Room and KAI Cultural Discovery</h3>
        <h4>
          <font size="+1"
            >Continuation of traditional cultural crafts and entertainment</font
          >
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>
  <div
    class="popup__opener sdgs__list__box common_more__hover sdgs__list__box__toload"
  >
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">The Preservation
      of Asian Black Bears</div> <img
      src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/08/d7284e302cc72f9f9055bb9bb641d135.jpg"
      class="popup_sdgs__img"> <div class="popup_sdgs__text">The preservation of
      Asian black bears began as a project contracted to Picchio by the local
      government in 2000. By tracking and monitoring each bear and incorporating
      innovative tactics such as Japan’s first “bear dogs(dogs trained to chase
      away bears)”, Picchio was able to keep the bears safe while also keeping
      humans safe. As a result, the number of cases of bears razing public trash
      receptacles fell from 100 in 1999 to 0 in 2009.<br /> <br /> Bear Dogs are
      dogs that have been specially trained to sense the scent of bears. They
      obey directions from bear specialists and bark loudly to drive away bears
      deep into the forest. Bear Dogs have been bred in Picchio since July 2017,
      and one of the Bear Dogs they raised named “Tama” gave birth to six
      puppies from late at night on March 31st, 2018 to the afternoon of April
      1st, successfully breeding Bear Dogs in Japan for the first time.</textarea
    >

    <div class="sdgs__list__box__photo">
      <div
        class="sdgs__list__box__photo__in"
        style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/08/d7284e302cc72f9f9055bb9bb641d135.jpg');
            "
      >
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>The Preservation of Asian Black Bears</h3>
        <h4>
          <font size="+1">A future for the coexistence of humans and bears</font
          >
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>
  <div
    class="popup__opener sdgs__list__box common_more__hover sdgs__list__box__toload"
  >
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">OMO</div> <div
      class="popup_sdgs__text">At OMO5 Tokyo Otsuka and OMO7 Asahikawa, we have
      strengthened our partnerships with employers of restaurants, cafes, bars,
      shops, and museums around the hotels. National guidebooks only list a
      small fraction of really famous establishments, but there are a lot of
      other unlisted businesses that show off the charm of the region. Gathering
      those together displays the regional charm in an effort to raise the value
      of staying at the place where the OMO hotels are located. From the idea of
      constructing the hotels in places that were already highly valued for
      accommodations, the concept changed to building the hotels in places
      immersed in a deep and local charm so as to raise the value of those
      locations via our marketing efforts for the hotels, which creates a demand
      for staying at those hotels.</textarea
    >

    <div class="sdgs__list__box__photo">
      <div class="sdgs__list__box__photo__in" style="background-image: url('')">
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>OMO</h3>
        <h4>
          <font size="+1"
            >City tourism hotel to discover the wonders of the city</font
          >
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>
  <div
    class="popup__opener sdgs__list__box common_more__hover sdgs__list__box__toload"
  >
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">Agriculture
      Project</div> <img
      src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/08/c8138506b638302e14e2e8da553b32eb.jpg"
      class="popup_sdgs__img"> <div class="popup_sdgs__text">Ever since
      HOSHINOYA Taketomi Island opened in June 2012, we have managed to operate
      the resort while learning the history and traditions from the islanders.
      Due to developments in the tourist industry and distribution on Taketomi
      Island, the number of people involved in agriculture, which was the
      island’s main industry, has declined. At HOSHINOYA Taketomi Island, the
      “Agriculture Project” was started in 2017 so as to contribute to the
      cultural inheritance surrounding the farms that are in the process of
      being lost.<br /> <br /> Millet<br /> At the Tanadui Festival, sowing
      millet seeds and dancing to pray for an abundant harvest are dedicated to
      deities. On Taketomi Island, there has been a decline in the number of
      people who grow millet, so the use of millet made from Taketomi has also
      decreased. At HOSHINOYA Taketomi Island, the millet grown from the site
      are offered for this island’s largest festival, Kumomami (Local
      soybean).<br /> <br /> Kumomami (Local soybean)<br /> Once, Taketomi
      islanders grew Kumomami, and made them into tofu but now people stopped
      making Kumomami tofu and Kumomami went extinct. At HOSHINOYA Taketomi
      Island, there has been an attempt with the kids on the island to revive
      the production of tofu made from cultivated Kumomami soy beans that had
      been lost on the island.<br /> <br /> Nuchigusa<br /> “Nuchigusa” is an
      Okinawan herbal plant that has supported the health of the islanders since
      ancient times. However, the culture surrounding nuchigusa has faded in
      recent times, and few people know about it now. On June 29th, 2019, we
      planted seeds on HOSHINOYA Taketomi Island’s farm with kids from Taketomi
      Elementary and Junior High School.</textarea
    >

    <div class="sdgs__list__box__photo">
      <div
        class="sdgs__list__box__photo__in"
        style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/08/c8138506b638302e14e2e8da553b32eb.jpg');
            "
      >
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>Agriculture Project</h3>
        <h4>
          <font size="+1">Sustainable preservation of island culture</font>
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>
  <div
    class="popup__opener sdgs__list__box common_more__hover sdgs__list__box__toload"
  >
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">Cultural
      Sustainability at KAI Kaga</div> <img
      src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2023/06/89ee159fb4d553b64df728a038ab3f76.jpg"
      class="popup_sdgs__img"> <div class="popup_sdgs__text">Kintsugi is a
      traditional way of repairing broken pottery using lacquer dusted with
      powdered gold. Since 2019, KAI Kaga has actively taken part in sharing
      this tradition with guests, and in April 2023, a studio specific to
      Kintsugi opened.<br /> <br /> Following the words of Rosanjin Kitaoji, a
      cultural figure who is associated with KAI Kaga, "dishware is a kimono for
      food," our hot spring ryokan has been specific about carefully selecting
      dishware for each food served, and treated the dishware with care as a
      treasure. More than half of the staff are now able to take part in
      Kintsugi, and more than 300 pieces of dishware have been restored. Our
      staff will continue to treat the dishware as treasures and will continue
      to pass on this tradition of Japanese art to the next generation and
      globally. <br />
    </textarea>

    <div class="sdgs__list__box__photo">
      <div
        class="sdgs__list__box__photo__in"
        style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2023/06/89ee159fb4d553b64df728a038ab3f76.jpg');
            "
      >
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>Cultural Sustainability at KAI Kaga</h3>
        <h4>
          <font size="+1">The Japanese art of repairing broken pottery</font>
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>
  <div
    class="popup__opener sdgs__list__box common_more__hover sdgs__list__box__toload"
  >
    <textarea class="popup__set">
      <div class="popup_sdgs"> <div class="popup_sdgs__title">Sustainable
      Aviation Guel (SAF)</div> <img
      src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2024/04/a1c21e9c21abd50e5f2055d3a6d0fd17.jpg"
      class="popup_sdgs__img"> <div class="popup_sdgs__text">Sustainable
      Aviation Fuel (SAF) designates fuels made from non-fossil fuels such as
      waste cooking oil, vegetable and animal fats, and wood based biomass. It
      can significantly reduce carbon dioxide (CO2) emissions compared to
      conventional fuels made from crude oil. If the fuel is 100% made of waste
      cooking oil, CO2 emissions can be reduced by approximately 80% compared to
      conventional aviation fuels, from raw material collection to fuel
      production and combustion.<br /> <br /> Hoshino Resorts will participate
      by providing waste cooking oil from its operating properties. The
      operation will start with OMO Kansai Airport in April 2024, and the group
      aims to gradually expand this initiative to other Hoshino Resorts
      facilities inside Japan. The collected waste cooking oil will first be
      recycled and stored as a raw material for biodiesel in REVO International
      Inc. facilities in 2024 and then used in the production of biofuel in a
      SAF production plant scheduled to start operation in early 2025.</textarea
    >

    <div class="sdgs__list__box__photo">
      <div
        class="sdgs__list__box__photo__in"
        style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2024/04/a1c21e9c21abd50e5f2055d3a6d0fd17.jpg');
            "
      >
      </div>
    </div>
    <div class="sdgs__list__box__text">
      <div class="sdgs__list__box__text__in">
        <h3>Sustainable Aviation Guel (SAF)</h3>
        <h4>
          <font size="+1">Recycling waste oil into sustainable fuel</font>
        </h4>
      </div>
    </div>
    <div class="sdgs__list__box__foot">
      <div class="common_more">
        <div class="common_more__in">→</div>
        <div class="common_more__ar"></div>
      </div>
    </div>
  </div>
</GalleryLayout>
