<div class="section section_aw">
    <div class="section__inner ons">
        <div class="c_pad"></div>
        <div class="awards__wrap">
            <div class="awards">
                <h2 class="ons_u" dly="500">With Honorable Awards</h2>
                <div class="awards__bg"></div>
                <div class="awards__set">
                    <div class="awards__set__in">
                        <h3>2023</h3>
                        <div class="awards__set__in__line"></div>
                        <h4>Giải thưởng Kiến trúc quốc Gia</h4>
                    </div>

                    <div class="awards__set__in">
                        <h3>2021</h3>
                        <div class="awards__set__in__line"></div>
                        <h4>第13回ＪＩＡ中国建築大賞</h4>
                    </div>

                    <div class="awards__set__in">
                        <h3>2020</h3>
                        <div class="awards__set__in__line"></div>
                        <h4>GOOD DESIGN AWARD</h4>
                    </div>
                </div>
                <div class="awards__button ons_o" dly="1800">
                    <a href="https://raymondsekkei.co.jp/awards/" class="wide_button noar">
                        <div class="wide_button__bg"></div>
                        <div class="wide_button__in">For Full List</div>
                        <div class="wide_button__ar"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>