---
import { COLORS } from "../../../../constants/colors";

---
<main style={{
    // backgroundColor: COLORS.WHITE,
    paddingTop: 70,
    }} class="main english" id="main">
    <div class="inner">
        <section class="title01">
            <h1><span class="font-en">About Raymond Architectural Design Office</span></h1>
        </section>
        <article class="content">
            <section id="company-principle" class="section principle">
                <h2 class="title01">Company Principle</h2>
                <h3>Design Policy</h3>
                <div class="text">
                    <p>Our design policy lies in creating the things following a natural flow, a much simpler, much
                        more direct, much more economical and much more honest in approach, in accordance with the
                        human scale.</p>
                </div>
                <h3>Our Company Principle</h3>
                <div class="text">
                    <p>Our principle is not to limit to create simple external shapes, but rather to bring to life
                        as faithfully as possible, the gist of architecture which is to materialize correspondences
                        between “Nature and Human Being” and “People and Society.”<br />From this principle alone
                        comes the style that best characterizes Raymond Architectural Office, namely, reincarnate,
                        the above principle in each and every building design.<br />In addition, this principle
                        complies very well with today’s world, where the issue of preservation of the environment is
                        being reconsidered, and where energy saving techniques are greatly demanded.</p>
                </div>
            </section>
            <section id="company-profile" class="section profile">
                <h2 class="title01">Company Profile</h2>
                <table width="1139" height="612">
                    <tbody>
                        <tr>
                            <th>Company Name</th>
                            <td>Raymond Architectural Design Office, Inc.</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>5-58-1, Yoyogi, Shibuya-ku, Tokyo, Japan</td>
                        </tr>
                        <tr>
                            <th>Mail</th>
                            <td><a href="mailto:info@raymondsekkei.co.jp">info@raymondsekkei.co.jp</a></td>
                        </tr>
                        <tr>
                            <th>TEL</th>
                            <td>+81-3-3460-1171</td>
                        </tr>
                        <tr>
                            <th>FAX</th>
                            <td>+81-3-3460-3604</td>
                        </tr>
                        <tr>
                            <th>Establishment</th>
                            <td>Established in 1921, Incorporated in April, 1950</td>
                        </tr>
                        <tr>
                            <th>Capital</th>
                            <td>40 million yen</td>
                        </tr>
                        <tr>
                            <th>License</th>
                            <td>Registered Architect’s Office Reg. No. 868</td>
                        </tr>
                        <tr>
                            <th>Scope of Services</th>
                            <td>Design and Supervision on Architecture (Architectural design, Structural
                                Engineering, Electrical Engineering and Mechanical Engineering)<br />Design and
                                Supervision on Civil Engineering<br />Regional (urban) Planning and Site
                                Planning<br />Planning, Research (Investigation) and Consulting
                                Services<br />Interior Design and furniture Design</td>
                        </tr>
                        <tr>
                            <th>Branch Offices</th>
                            <td>
                                <p>Osaka Office<br />Chugoku and Shikoku Office<br />Raymond Architectural Design
                                    Office in Vietnam:<br />Hanoi Office<br />Danang Office<br />Ho Chi Minh City
                                    Office</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section id="founder" class="section founder">
                <h2 class="title01">The Founder &#8211; Antonin Raymond</h2>
                <div class="text">
                    <p>Raymond Architectural Design Office was established by Antonin Raymond. He has had a great
                        deal of influence and achievement in the development of Japanese Architecture. We staff,
                        inheriting his will, have continued to make advancement for a better and more excellent
                        architectural design. <br />Next, let’s introduce the profile and achievements of the
                        founder will be introduced in the followings.</p>
                </div>
            </section>
            <section class="section antonin">
                <h2 class="title01">Antonin Raymond and Frank Lloyd Wright</h2>
                <div class="text">
                    <p>In 1919, Antonin Raymond came to Japan accompanying Frank Lloyd Wright to supervise the
                        design and consultation for the construction of the former Imperial Hotel in Tokyo. In 1921,
                        Antonin Raymond opened his architectural design office in Japan. <br />That is how Raymond
                        Architectural Design Office Inc, started. <br />During the periods before and after the war,
                        he spent a long time in japan, where he achieved many of his works. We, at Raymond
                        Architectural Design Office, inherited his architectural and design philosophy, which we
                        continue to perpetuate through original works.</p>
                </div>
            </section>
            <section id="founder-history" class="section history">
                <h2 class="title01">Antonin Raymond’s Brief Personal History</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>1888:</th>
                            <td>Born in Bohemia of then Austria (now Czech Republic.)</td>
                        </tr>
                        <tr>
                            <th>1909:</th>
                            <td>Studied Czech Technical University in Prague.</td>
                        </tr>
                        <tr>
                            <th>1910:</th>
                            <td>Goes over to America, and starts to work at Cass Gilbert’s Office in New York.</td>
                        </tr>
                        <tr>
                            <th>1914:</th>
                            <td>Antonin marries Noemi.</td>
                        </tr>
                        <tr>
                            <th>1916:</th>
                            <td>Antonin and Noemi work with Frank Lloyd Wright.</td>
                        </tr>
                        <tr>
                            <th>1917:</th>
                            <td>Antonin becomes independent in New York.</td>
                        </tr>
                        <tr>
                            <th>1919:</th>
                            <td>Antonin and Noemi come to Japan to supervise the construction of the Imperial Hotel.
                            </td>
                        </tr>
                        <tr>
                            <th>1921:</th>
                            <td>Establishes the American Architectural and Engineering Company.</td>
                        </tr>
                        <tr>
                            <th>1923:</th>
                            <td>After Kanto Great Earthquake, he establishes Raymond Architectural Design Office.
                            </td>
                        </tr>
                        <tr>
                            <th>1926:</th>
                            <td>He is appoints to an honorary consul of the Czech Republic.</td>
                        </tr>
                        <tr>
                            <th>1938:</th>
                            <td>He returnes to America and establishes his office in New York.<br />He opens a farm,
                                and he uses it as studio and a home combined.</td>
                        </tr>
                        <tr>
                            <th>1941:</th>
                            <td>He closes Tokyo office.</td>
                        </tr>
                        <tr>
                            <th>1948:</th>
                            <td>After the war, he returns to Japan and reestablishes Tokyo office.</td>
                        </tr>
                        <tr>
                            <th>1952:</th>
                            <td>He receives an AIJ Award (Reader’s Digest Building of Tokyo.)</td>
                        </tr>
                        <tr>
                            <th>1956:</th>
                            <td>He receives a medal of honor from UIJ.</td>
                        </tr>
                        <tr>
                            <th>1957:</th>
                            <td>He receives Award of Merit from AIJ.</td>
                        </tr>
                        <tr>
                            <th>1964:</th>
                            <td>He was decorates with the Third Order of Merit from Japanese Government.</td>
                        </tr>
                        <tr>
                            <th>1965:</th>
                            <td>He receives an AIJ Award (Nanzan University in Nagoya, Japan.)</td>
                        </tr>
                        <tr>
                            <th>1973:</th>
                            <td>He returns to New Hope, America.</td>
                        </tr>
                        <tr>
                            <th>1976:</th>
                            <td>He dies in New Hope. Memorial mass services for late Antonin Raymond were held in
                                Meguro Church.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="section message">
                <h2 class="title01">Greeting from the president,</h2>
                <div class="text">
                    <p>Raymond Architectural Design Office, established in 1921 in Marunouchi Tokyo after the
                        architect Antonin Raymond came to Japan with Frank Loyd Wright in order to design and
                        supervise the construction of the former Imperial Hotel in 1919, has a history of over years
                        as an architectural design firm.</p>
                    <p> Since the establishment, Antonin Raymond has created many works as a standard-bearer of
                        modernism architecture, including the Hoshi University, Tokyo Women’s Christian University,
                        St. Paul’s Catholic Church in Karuizawa, Sacred Heart Schol Tokyo, The Reader’s Digest
                        Building, Yasukawa Electric Headquarters Building, Gunma Music Center, Nanzan University.
                        The philosophy Antonin Raymond advocates as a comprehensive art from is as follows, “Only
                        the simplest, direct, efficient, economical and natural things have true and complete beauty
                        “To this day, we still impart this to all employees as a company motto and make a lot of
                        creations.<br></p>
                    <p>In recent years, in response to major changes in the social environment such as globalization
                        and AI technologies, and diversity in architecture and urban environment, we will work on
                        what can do to contribute to the expectations of not only our clients, but also the entire
                        community by utilizing the capabilities and expertise that we have cultivated over our rich
                        history.</p>
                    <p class="message_sign">President at Raymond Architectural Design Office, Inc.<br> Genji Sekiya
                    </p>
                    </p>
                </div>
            </section>
        </article>
    </div>
</main>