<div class="section">
  <div class="section__inner ons brands__wrap">
    <div class="c_pad sp"></div>
    <div class="brands">
      <div class="brands__texts sp">
        <div class="brands__texts__in">
          <h2 {...{ class: "ons_u", dly: "500" }}>
            Better solutions for clients.
          </h2>
          <div {...{ class: "brands__texts__line ons_hol", dly: "500" }}></div>
          <p>
            At Raymond Sekkei, we take an integrated approach to our projects as
            a professional service firm. Across all in-house disciplines of
            architectural design: urban design, research, planning and
            consulting - our teams work collaboratively to deliver better
            solutions for clients.
          </p>
        </div>
      </div>

      <div {...{ class: "brands__photoarea pc", brands_photo: "1" }}>
        <div class="brands__texts pc">
          <div class="brands__texts__in">
            <h2 {...{ class: "ons_u", dly: "500" }}>
              Better solutions for clients.
            </h2>
            <div {...{ class: "brands__texts__line ons_hol", dly: "500" }}>
            </div>
            <p>
              At Raymond Sekkei, we take an integrated approach to our projects
              as a professional service firm. Across all in-house disciplines of
              architectural design: urban design, research, planning and
              consulting - our teams work collaboratively to deliver better
              solutions for clients.
            </p>
          </div>
        </div>

        <div
          {...{
            class: "brands__photoarea__photo",
            brands_photod: "1",
            b_style:
              "background-image:url('https://static.wixstatic.com/media/c46c87_fd86ea05d8984d50a1a9bdd99a869530~mv2.jpg/v1/fill/w_1470,h_569,al_c,q_85,enc_auto/Picture3.jpg')",
          }}
        >
        </div>
      </div>
      <div class="brands__slide__area sp">
        <div
          {...{ class: "brands__slide slick-doubles", sln: "brands__slide" }}
        >
          <div class="brands__slide__photo">
            <div
              {...{
                class: "brands__slide__photo__in",
                b_style:
                  "background-image:url('https://static.wixstatic.com/media/c46c87_fd86ea05d8984d50a1a9bdd99a869530~mv2.jpg/v1/fill/w_1470,h_569,al_c,q_85,enc_auto/Picture3.jpg')",
              }}
            >
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="brands__slide__foot sp">
        <div class="brands__slide__foot__bar">
          <div class="slide_bar__wrap">
            <div {...{ class: "slide_bar", slt: "brands__slide" }}></div>
          </div>
        </div>
        <div class="controls">
          <div {...{ class: "controls__left hover_c", slt: "brands__slide" }}>
            <div class="hover_c_ar"></div>
          </div>
          <div class="controls__count">
            <div {...{ class: "controls__count__in", slt: "brands__slide" }}>
              -
            </div>
          </div>
          <div {...{ class: "controls__right hover_c", slt: "brands__slide" }}>
            <div class="hover_c_ar"></div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
