<div class="section">
    <div class="section__inner ons brands__wrap">
        <div class="c_pad sp"></div>
        <div class="brands">
            <div class="brands__texts sp">
                <div class="brands__texts__in">
                    <h2 class="ons_u" dly="500">Better solutions for clients.</h2>
                    <div class="brands__texts__line ons_hol" dly="500"></div>
                    <p>
                        At Raymond Sekkei, we take an integrated approach to our projects as a professional service firm. Across all in-house disciplines of architectural design: urban design, research, planning and consulting -- our teams work collaboratively to deliver better solutions for clients.
                    </p>
                </div>
            </div>

            <div class="brands__photoarea pc" brands_photo="1">
                <div class="brands__texts pc">
                    <div class="brands__texts__in">
                        <h2 class="ons_u" dly="500">Better solutions for clients.</h2>
                        <div class="brands__texts__line ons_hol" dly="500"></div>
                        <p>
                            At Raymond Sekkei, we take an integrated approach to our projects as a professional service firm. Across all in-house disciplines of architectural design: urban design, research, planning and consulting -- our teams work collaboratively to deliver better solutions for clients.
                        </p>
                    </div>
                </div>

                <div class="brands__photoarea__photo" brands_photod="1" b_style="background-image:url('https://static.wixstatic.com/media/c46c87_fd86ea05d8984d50a1a9bdd99a869530~mv2.jpg/v1/fill/w_1470,h_569,al_c,q_85,enc_auto/Picture3.jpg')"></div>

            </div>
            <div class="brands__slide__area sp">
                <div class="brands__slide slick-doubles" sln="brands__slide">
                    <div class="brands__slide__photo">
                        <div class="brands__slide__photo__in" b_style="background-image:url('https://static.wixstatic.com/media/c46c87_fd86ea05d8984d50a1a9bdd99a869530~mv2.jpg/v1/fill/w_1470,h_569,al_c,q_85,enc_auto/Picture3.jpg')"></div>
                    </div>
                </div>
            </div>
            <div class="brands__slide__foot sp">
                <div class="brands__slide__foot__bar">
                    <div class="slide_bar__wrap">
                        <div class="slide_bar" slt="brands__slide"></div>
                    </div>
                </div>
                <div class="controls">
                    <div class="controls__left hover_c" slt="brands__slide"><div class="hover_c_ar"></div></div>
                    <div class="controls__count">
                        <div class="controls__count__in" slt="brands__slide">-</div>
                    </div>
                    <div class="controls__right hover_c" slt="brands__slide"><div class="hover_c_ar"></div></div>
                </div>
            </div>
            <!-- <div class="brands__logoslide__wrap sp">
                <div class="brands__logoslide" sln="brands__logoslide">
                    <a href="https://hoshinoresorts.com/en/brands/hoshinoya/" class="brands__logoslide__block">
                        <div class="brands__logoslide__block__logo"><img src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/bf36d83aadb211ede04ff6b00a9babee.png" /></div>
                        <h3>
                            HOSHINOYA
                        </h3>
                        <p>
                            Luxury hotel embodying <br />
                            the true characteristics <br />
                            of land, history, and culture
                        </p>
                    </a>
                    <a href="https://hoshinoresorts.com/en/brands/kai/" class="brands__logoslide__block">
                        <div class="brands__logoslide__block__logo"><img src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/05/1ceb7e67a3d2038b5e8c1d1dc094fe4c.png" /></div>
                        <h3>
                            KAI
                        </h3>
                        <p>
                            "Japanese Auberge" <br />
                            in classic hot spring regions
                        </p>
                    </a>
                    <a href="https://hoshinoresorts.com/en/brands/risonare/" class="brands__logoslide__block">
                        <div class="brands__logoslide__block__logo"><img src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/2ca169b1357d9000931c4ddedbd4839b.png" /></div>
                        <h3>
                            RISONARE
                        </h3>
                        <p>
                            Countryside resort with food <br />
                            culture unique to the landscape
                        </p>
                    </a>
                    <a href="https://hoshinoresorts.com/en/brands/omo/" class="brands__logoslide__block">
                        <div class="brands__logoslide__block__logo"><img src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/63af875592f7b77659cf7f8c3c7d1d92.png" /></div>
                        <h3>
                            OMO
                        </h3>
                        <p>
                            City tourism hotel<br />
                            to discover the city
                        </p>
                    </a>
                    <a href="/brands/#beb" class="brands__logoslide__block">
                        <div class="brands__logoslide__block__logo"><img src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/f0b197329078c005772ab1384440a8bd.png" /></div>
                        <h3>
                            BEB
                        </h3>
                        <p>
                            Kicked-back stays<br />
                            with the crew
                        </p>
                    </a>
                    <a href="/brands/#other" class="brands__logoslide__block">
                        <div class="brands__logoslide__block__logo"><img src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/2e2cf4fa65f696a437823b4bc4721023.png" /></div>
                        <h3>
                            Other Unique Lodgings
                        </h3>
                        <p>
                            Getaways with<br />
                            a sense of place
                        </p>
                    </a>
                    <a href="/brands/#ski" class="brands__logoslide__block">
                        <div class="brands__logoslide__block__logo"><img src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/29f47c0c173cc16a25ac8819107f0676.png" /></div>
                        <h3>
                            Ski Resorts
                        </h3>
                        <p>
                            Ski Resorts with <br />
                            Japan's best powder snow
                        </p>
                    </a>
                </div>
            </div> -->
            <!-- <div class="brands__button sp">
                <a href="https://hoshinoresorts.com/en/brands" class="wide_button noar">
                    <div class="wide_button__bg"></div>
                    <div class="wide_button__in">Explore More</div>
                    <div class="wide_button__ar"></div>
                </a>
            </div> -->
        </div>
    </div>
</div>