<div id="top" class="section fv">
    <div class="section__inner">
        <div class="fv__graph__texts">
            <h1>
                <img src={import.meta.env.BASE_URL + "/images/logo01.png"} alt="Raymond" />
            </h1>
            <p>SINCE 1921</p>
        </div>
        <div class="fv__graph">
            <div class="controls">
                <div {...{class:"controls__left hover_c", slt:"fv__slide"}}><div class="hover_c_ar"></div></div>
                <div class="controls__count">
                    <div {...{class:"controls__count__in", slt:"fv__slide"}}>-</div>
                </div>
                <div {...{class:"controls__right hover_c",  slt:"fv__slide"}}><div class="hover_c_ar"></div></div>
            </div>
            <div class="fv__graph__line"></div>
            <div {...{class:"fv__slide slick-doubles", sln:"fv__slide"}}>
                <!-- <div class="fv__slide__photo">
                    <div class="fv__slide__photo__in" style="background-image: url(/images/tranNhanTongAcademy.jpg);"></div>
                </div>
                <div class="fv__slide__photo">
                    <div class="fv__slide__photo__in" style="background-image: url(/images/kawaraMyAnOnsenResort.jpg);"></div>
                </div>
                <div class="fv__slide__photo">
                    <div class="fv__slide__photo__in" style="background-image: url(/images/buddhaCulturalPark.jpg);"></div>
                </div> -->
                <div class="fv__slide__photo">
                    <div class="fv__slide__photo__in" style=`background-image: url(${import.meta.env.BASE_URL}/images/jap01.jpg);`></div>
                </div>
                <div class="fv__slide__photo">
                    <div class="fv__slide__photo__in" style=`background-image: url(${import.meta.env.BASE_URL}/images/jap02.jpg);`></div>
                </div>
                <div class="fv__slide__photo">
                    <div class="fv__slide__photo__in" style=`background-image: url(${import.meta.env.BASE_URL}/images/jap03.jpg);`></div>
                </div>
                <!-- <div class="fv__slide__photo">
                    <div class="fv__slide__photo__in" style="background-image: url(/images/jap04.jpg);"></div>
                </div> -->
            </div>
        </div>
        <div class="fv__texts">
            <div class="fv__texts__inner">
                <h2 class="fv__texts__h2">Award-winning architectural design office from Japan</h2>
                <div class="fv__texts__line"></div>
                <p class="fv__texts__p">We share the ambition to deliver the finest design products that accomplish three major factors <b>“Simplicity, effectiveness and harmony with nature”</b></p>
            </div>
        </div>
    </div>
</div>