---
export interface Props {
  image1Url: string;
  image2Url: string;
  image3Url: string;
  destinationName: string;
}

const { image1Url, image2Url, image3Url, destinationName } = Astro.props;
---

<div class="destinations__slide__set" d_area={destinationName}>
    <a href="hotels/">
        <div
            class="destinations__slide__img destinations__slide__img1"
            b_style=`background-image: url('${image1Url}');`
        ></div>
        <div
            class="destinations__slide__img destinations__slide__img2"
            b_style=`background-image: url('${image2Url}');`
        ></div>
        <div
            class="destinations__slide__img destinations__slide__img3"
            b_style=`background-image: url('${image3Url}');`
        ></div>
    </a>
</div>