---
const { imageUrl, topText, mainText, subText } = Astro.props;
---

<div class="popup__opener sdgs__list__box common_more__hover">
  <textarea class="popup__set">
    <div class="popup_sdgs"> <div class="popup_sdgs__title">Karuizawa National
    Wild Bird Sanctuary Forest</div> 
    <img
    src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/129ec23f0d92fe80e4271ca9776ea116.png"
    class="popup_sdgs__img"> 
    <div class="popup_sdgs__text">Karuizawa National
    Wild Bird Sanctuary Forest is located at an altitude of 950 – 1,100 m, with
    the area size of around 100 ha.<br /> The founder of the Wild Bird Society
    of Japan, Godo Nakanishi (1895-1984) pointed out to Kasuke Hoshino, our
    founder’s grandfather, that the forest of his inn was one of the world’s
    biggest treasure troves of wild birds. To help promote Godo’s work with wild
    birds, Hoshino organized bird watching expeditions and in 1974, National
    Wild Bird Sanctuary Forest, one of only four wild bird sanctuaries in Japan,
    was established.</div></div></textarea>

  <div class="sdgs__list__box__photo">
    <div
      class="sdgs__list__box__photo__in"
      style="
              background-image: url('https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/06/129ec23f0d92fe80e4271ca9776ea116.png');
            "
    >
    </div>
  </div>
  <div class="sdgs__list__box__text">
    <div class="sdgs__list__box__text__in">
      <h3>Karuizawa National Wild Bird Sanctuary Forest</h3>
      <h4>
        <font size="+1">Japan's first National wild bird forest</font>
      </h4>
    </div>
  </div>
  <div class="sdgs__list__box__foot">
    <div class="common_more">
      <div class="common_more__in">→</div>
      <div class="common_more__ar"></div>
    </div>
  </div>
</div>
