---
import { COLORS } from "../../constants/colors";

const containerStyle = {
  height: "60px",
  background: COLORS.PRIMARY_BACKGROUND,
};

const copyRightStyle = {
  color: COLORS.WHITE,
  fontSize: "12px",
  lineHeight: "60px",
  textAlign: "center",
};
---

<div class="footerInner" style={containerStyle}>
  <p class="copyright" style={copyRightStyle}>
    © Raymond Architectual Design Office, inc.
  </p>
</div>
