---
import type { HTMLAttributes } from "astro/types";
import Footer from "../components/footer/Footer.astro";

export interface Props extends HTMLAttributes<"html"> {
  title?: string;
  thislng?: string;
}

const { title = "Default Title", lang = "en", ...attributes } = Astro.props;
export const partial = true;
---

<html thislng="en" lang={lang} {...attributes}>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="ja" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Raymond Sekkei</title>

    <script is:inline src="js/fontfaceobserver.js"></script>

    <script is:inline src="js/jquery/jquery-3.6.0.min.js"></script>

    <script is:inline src="js/slick.js"></script>

    <script is:inline src="js/jquery.mousewheel.min.js"></script>

    <script is:inline src="js/main.js"></script>

    <link rel="stylesheet" href="css/companyProfile.css" />
    <link rel="stylesheet" href="css/jfn3mcb.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="css/slick.css"
      media="print"
      onload="this.media='all'"
    />
    <link rel="stylesheet" href="css/set.css" />
  </head>

  <body class="lang_en" id="toppage">
    <div class="menu_button">
      <div
        class="menu_button__in hover_c ab_fit topload topload__pc__7 topload__sp__3"
      >
        <div class="menu_button__1 menu_button__line"></div>
        <div class="menu_button__2 menu_button__line"></div>
        <div class="menu_button__3 menu_button__line"></div>
      </div>
    </div>
    <div class="header">
      <a href="/" id="refreshButton" class="header__logo hover_o7">
        <!-- <img
          src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/08/483b205ed9c25c13c31d18387ad03bfb-1200x120.png"
          alt="Raymond"
          class="ab_fit topload topload__pc__1 topload__sp__1"
        /> -->
        <img
          src="images/logo03.png"
          alt="Raymond"
          class="ab_fit topload topload__pc__1 topload__sp__1"
        />
        <!-- <img src="https://static.wixstatic.com/media/c46c87_75ea76fef2cf42438cb6692b1dd80159~mv2.png/v1/fill/w_368,h_98,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/c46c87_75ea76fef2cf42438cb6692b1dd80159~mv2.png" alt="Raymond"
      class="ab_fit topload topload__pc__1 topload__sp__1" 
      /> -->
      </a>
      <!-- <script is:inline>
        document
          .getElementById("refreshButton")
          .addEventListener("click", function () {
            window.scrollTo({ top: 0, behavior: "instant" });
            location.reload();
          });
      </script> -->
  
      <div class="header__menu pc">
        <a href="planning"
          ><span class="topload topload__pc__2">Planning</span></a
        >
        <a href="architecture"><span class="topload topload__pc__3">Architecture</span></a>
        <a href="#services"
          ><span class="topload topload__pc__3">Interior - Landscape</span></a
        >
        <a href="#contact"><span class="topload topload__pc__3">Contact</span></a>
        <!-- <a href="https://hoshinoresorts.com/en/activities"
          ><span class="topload topload__pc__4">Architecture</span></a
        >
        <a href="https://hoshinoresorts.com/en/activities"
          ><span class="topload topload__pc__4">Planning</span></a
        >
        <a href="https://hoshinoresorts.com/en/activities"
          ><span class="topload topload__pc__4">Landscape</span></a
        >
        <a href="https://hoshinoresorts.com/en/activities"
          ><span class="topload topload__pc__4">Interior</span></a
        > -->
      </div>
    </div>
    <div class="mainmenu">
      <div class="mainmenu__cont">
        <div class="mainmenu__cont1">
          <div><a href="#awards">Awards</a></div>
          <div>
            <a href="#projects">Projects</a>
          </div>
          <div><a href="#services">Services</a></div>
          <div><a href="#news">News</a></div>
          <div><a href="#company-principle">Our Principle</a></div>
          <div><a href="#company-profile">Company Profile</a></div>
          <div><a href="#founder">The Founder History</a></div>
        </div>
        <div class="mainmenu__cont2">
          <div class="mainmenu__sns">
            <a
              href="https://www.facebook.com/RaymondSekkei/"
              class="hover_c"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/07/216879d1e5c669be74801ff5e69b85f6.svg"
                class="ab_fit"
                alt="facebook"
              />
            </a>
            <!-- <a
              href="https://www.facebook.com/RaymondSekkei/"
              class="hover_c"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://hoshinoresorts.com/wpadmin2022/wp-content/uploads/2022/07/4ee1baa226ac738c2bca8ce82a0ce3e1.svg"
                class="ab_fit"
                alt="instagram"
              />
            </a> -->
          </div>
          <!-- <a
            href="https://hoshinoresorts.com/en/contact"
            class="mainmenu__cont2_3"
          >
          </a> -->
        </div>
      </div>
    </div>
    <div class="headpad"></div>

    <slot />

    <Footer />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </body>
</html>
